@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply px-5 bg-[#0f2635] font-body;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
}

@layer components {
  .page-container {
    max-width: 1280px;

    @apply mx-auto;
    @apply transition-all;
  }

  .movies-list .swiper {
    padding: 50px;
    user-select: none;
    height: auto;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  .movies-panner .swiper {
    user-select: none;
    height: auto;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .btn-search {
    position: relative;
    padding: 0.5rem;
    color: white;

    min-width: 200px;
    /*border-width: 2px;

    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;*/
    background-image: linear-gradient(to bottom right, #4ca9df, #292e91);

    z-index: 1;
  }

  .btn-search:active::before {
    position: absolute;

    content: "";
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    inset: 0;
    background-image: linear-gradient(to bottom, #292e91, #292e91);
    /*color: #5f6e77;*/
    z-index: -1;
    transition: opacity 0.3s linear;
    opacity: 0;
  }

  .btn-search::before {
    position: absolute;
    content: "";
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    inset: 0;
    background-image: linear-gradient(to bottom, #4ca9df, #292e91);
    z-index: -1;
    transition: opacity 0.3s linear;
    opacity: 0;
  }

  .btn-search:hover::before {
    opacity: 1;
  }
}
